@import "bootstrap.css";
@import "bootstrap.min.css";
@import "fonts.scss";

$sfPro: 'Sofia Pro', sans-serif;
$sfProBold: 'Sofia Pro Bold', sans-serif;
$sfProLight: 'Sofia Pro Light', sans-serif;
$bbsNBold: 'Bebas Neue-Bold', sans-serif;

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {
  .followGuidelines .greyBorder .allContent .frstColmnHeading {
    padding-bottom: 58px;
  }
  .detoxMenu .mealContentF .mealColumn {
    .mealColmnContent {
      padding-left: 0;
    }

    &:last-of-type {
      .mealColmnContent {
        padding-left: 30px;
      }
    }
  }
  .detoxMenu .mealContentS .mealColumn {
    &:last-of-type {
      .mealHeading {
        padding-bottom: 6px;
      }
    }
  }
  .recommended {
    .productCard {
      .productPrice {
        span {
          font-size: 14px !important;
        }
      }
    }
  }


  /* Workout Plan Woman Styles*/
  .workoutPreview {
    flex-direction: column !important;

    .workoutBriefInfo {
      margin-top: 10px;
      text-align: center;
    }
  }
  .fullWorkout {
    .workoutModelImg {
      display: flex;
      align-items: center;

      img {
        height: auto !important;
      }
    }
  }

  /*Workout Man Plan*/
  .setInfo {
    width: 8% !important;
    margin-left: 0 !important;
  }
  .stretchTime {
    p {
      margin-right: 0 !important;
    }
  }
  .stretchIcon {
    p {
      margin-right: 0 !important;
    }
  }
  .reminderInfo {
    margin-right: 20px !important;

    p {
      &:first-of-type {
        margin-left: 0 !important;
      }
    }
  }
}

@media only screen and (max-width: 426px) {
  .frstColmn, .scndColmn {
    width: 100% !important;
  }
  .footer {
    display: block;
  }
  .recommended {
    .col-md-4 {
      .productCard {
        padding: 0 15px 10px;
        background: #FFFFFF;
        box-shadow: 0 11px 144px rgba(86, 102, 109, 0.13);
        border-radius: 10px;

        .productInfo {
          flex-direction: column;

          h4 {
            font-size: 11px;
          }

          .mobMarg {
            margin-bottom: 5px;
          }
        }

        .productBadge {
          margin-bottom: 5px;
        }
      }

      &:nth-of-type(2) .productCard {
        margin-right: 0;
      }

      &:last-of-type .productCard {
        display: none;
      }
    }


    .buy {
      margin-top: 40px;

      h4 {
        font-size: 24px;
        color: #DD4C56;
      }

      a {
        background: #DD4C56;
      }
    }
  }

  .followGuidelines {
    .allContent {

      .frstColmnHeading {
        padding: 30px !important;
      }

      .scndColmnHeading {
        padding: 30px !important;
        border-top: 1px solid #E0EAEF;
      }

      .frstColmnContent, .scndColmnContent {
        padding: 30px !important;
      }
    }
  }
  .followGuidelines {
    .ElmnBlock ul li {
      flex-direction: column;
      align-items: flex-start;

      .dontIcon {
        margin-bottom: 30px;
      }

      span {
        margin-bottom: 30px;
      }
    }
  }
  .detoxProgram .exampleMeal .greyBorder {

    .smallColumn {
      width: 100% !important;

      &:first-of-type {
        border-top: 0;
      }
    }
  }
  .detoxProgram .exampleMeal .mainContent .smallColumn .colmnHeading {
    border-top: 1px solid #E0EAEF;
    padding: 20px !important;
  }

  .mealContentF, .mealContentS {
    .mealColumn {
      border-right: 0;

      &:first-of-type {
        .mealHeading {
          border-top: 0 !important;
        }
      }

      .mealHeading {
        padding: 30px;
        border-top: 1px solid #E0EAEF;
      }
    }
  }
  .detoxMenu .mealContentF .mealColumn, .detoxMenu .mealContentS .mealColumn {
    width: 100%;
    border-right: 0;
  }
  .detoxProgram .exampleMeal .mainContent .smallColumn {
    &:first-of-type {
      .colmnHeading {
        border-top: 0;
      }
    }
  }
  .detoxProgram .exampleMeal .mainContent .smallColumn {
    border-right: 0;
  }

  /* Workout Plan Woman Styles*/
  .exercises {
    .exercise {
      flex-direction: column !important;
      align-items: flex-start !important;

      .exerciseInfo {
        flex-direction: column !important;
        align-items: flex-start !important;

        .mobileRow {
          display: flex;
          flex-direction: row;
          margin-bottom: 22px;

          .exerciseIcon {
            width: 16px;
            height: 16px;
            margin-right: 26px;
          }
        }

        .exerciseType {
          margin-bottom: 22px;
        }
      }

      .exerciseDescription {
        margin-bottom: 18px;

        p {
          font-size: 16px;
        }
      }

      .playExercise {
        background-color: #fff;
        padding: 10px;
        width: 100%;
        border-radius: 10px;

        button {
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        .showMobile {
          display: block !important;
          font-family: $sfPro;
          font-size: 16px;
          line-height: 150%;
          text-align: center;
          letter-spacing: 0.5px;
          color: #484848;
          margin-left: 10px;
        }
      }
    }
  }

  .repeatWorkout {
    padding: 20px !important;
  }

  .specPadd {
    padding: 0 15px;
  }

  .pageHeading {
    margin-bottom: 20px !important;
  }

  .imagePart {
    max-height: 0;
    height: 700px !important;
    margin-bottom: 30px !important;
  }

  .circuitExampleBox {
    .exercises {
      .exercise {
        flex-direction: column !important;
        align-items: flex-start !important;

        .exerciseInfo {
          flex-direction: column !important;
          align-items: flex-start !important;

          .mobileRow {
            display: flex;
            flex-direction: row;
            margin-bottom: 22px;

            .exerciseIcon {
              width: 16px;
              height: 16px;
              margin-right: 26px;
            }
          }

          .exerciseType {
            margin-bottom: 22px;
          }
        }

        .exerciseDescription {
          margin-bottom: 18px;

          p {
            font-size: 16px;
          }
        }

        .playExercise {
          background-color: #fff;
          padding: 10px;
          width: 100%;
          border-radius: 10px;

          button {
            display: flex;
            flex-direction: row;
            align-items: center;
          }

          .showMobile {
            display: block !important;
            font-family: $sfPro;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            letter-spacing: 0.5px;
            color: #484848;
            margin-left: 10px;
          }
        }
      }
    }
  }

  .trainSchedule {
    .fourWorkoutPreviews {
      .workoutPreview {
        flex-direction: row !important;
        align-items: center;

        .workoutImage {
          display: flex;
          align-items: center;
        }
      }
    }

    .fullWorkout {
      .fWHeading {
        flex-direction: column !important;

        .workoutColumnContent {
          width: 100% !important;

          .mainContent {
            .fwHeadingTimeInfo {
              padding: 20px !important;
            }

            .workoutInform {
              padding: 20px !important;
            }
          }
        }
      }
    }
  }
  .reminder {
    flex-direction: column !important;

    .stretchTime {
      margin-bottom: 20px;
    }
  }

  .workoutModelImg {
    margin-bottom: 30px;
  }

  /*Man Workout Part*/
  .videoInstructions {
    flex-direction: column !important;

    .videoInfo {
      width: 100% !important;
      margin-right: 0 !important;
    }

    .videoInfoBox {
      width: 100% !important;
    }
  }
  .fullWorkout {
    .fWHeading {
      flex-direction: column !important;

      .workoutColumnContent {
        width: 100% !important;
      }
    }

    .exercise {
      .setInfo {
        display: none !important;
      }

      .exerciseInfo {
        width: 100% !important;
      }

      .mobileRow {
        button {
          margin-right: 14px !important;
        }
      }
    }
  }
  .reminder {
    align-items: flex-start !important;

    .reminderInfo {
      margin-bottom: 20px !important;
      flex-direction: column !important;

      p {
        &:last-of-type {
          margin-left: 0 !important;
        }
      }
    }

    .setInfo {
      width: 100% !important;
      margin-bottom: 30px;

      p {
        text-align: start !important;
      }
    }

    .playExercise {
      button {
        align-items: center !important;
      }

      .showMobile {
        display: block !important;
      }
    }
  }
}


@media only screen and (max-width: 375px) {
  .productInfo {
    width: 100% !important;
  }
  /* Workout Plan Woman Styles*/

  /*Man Workout Part*/
}

@media only screen and (max-width: 360px) {

}

@media only screen and (max-width: 321px) {
  .recommended {
    .buy {
      a {
        padding: 20px 10px;
      }
    }
  }
  /* Workout Plan Woman Styles*/


  /*Man Workout Part*/
}