@media only screen and (max-width: 768px) {
  .followGuidelines .greyBorder .allContent .frstColmnHeading {
    padding-bottom: 58px; }

  .detoxMenu .mealContentF .mealColumn .mealColmnContent {
    padding-left: 0; }
  .detoxMenu .mealContentF .mealColumn:last-of-type .mealColmnContent {
    padding-left: 30px; }

  .detoxMenu .mealContentS .mealColumn:last-of-type .mealHeading {
    padding-bottom: 6px; }

  .recommended .productCard .productPrice span {
    font-size: 14px !important; } }
@media only screen and (max-width: 426px) {
  .frstColmn, .scndColmn {
    width: 100% !important; }

  .footer {
    display: block; }

  .recommended .col-md-4 .productCard {
    padding: 0 15px 10px;
    background: #FFFFFF;
    box-shadow: 0 11px 144px rgba(86, 102, 109, 0.13);
    border-radius: 10px; }
    .recommended .col-md-4 .productCard .productInfo {
      flex-direction: column; }
      .recommended .col-md-4 .productCard .productInfo h4 {
        font-size: 11px; }
      .recommended .col-md-4 .productCard .productInfo .mobMarg {
        margin-bottom: 5px; }
    .recommended .col-md-4 .productCard .productBadge {
      margin-bottom: 5px; }
  .recommended .col-md-4:nth-of-type(2) .productCard {
    margin-right: 0; }
  .recommended .col-md-4:last-of-type .productCard {
    display: none; }
  .recommended .buy {
    margin-top: 40px; }
    .recommended .buy h4 {
      font-size: 24px;
      color: #DD4C56; }
    .recommended .buy a {
      background: #DD4C56; }

  .followGuidelines .allContent .frstColmnHeading {
    padding: 30px !important; }
  .followGuidelines .allContent .scndColmnHeading {
    padding: 30px !important;
    border-top: 1px solid #E0EAEF; }
  .followGuidelines .allContent .frstColmnContent, .followGuidelines .allContent .scndColmnContent {
    padding: 30px !important; }

  .followGuidelines .ElmnBlock ul li {
    flex-direction: column;
    align-items: flex-start; }
    .followGuidelines .ElmnBlock ul li .dontIcon {
      margin-bottom: 30px; }
    .followGuidelines .ElmnBlock ul li span {
      margin-bottom: 30px; }

  .detoxProgram .exampleMeal .greyBorder .smallColumn {
    width: 100% !important; }
    .detoxProgram .exampleMeal .greyBorder .smallColumn:first-of-type {
      border-top: 0; }

  .detoxProgram .exampleMeal .mainContent .smallColumn .colmnHeading {
    border-top: 1px solid #E0EAEF;
    padding: 20px !important; }

  .mealContentF .mealColumn, .mealContentS .mealColumn {
    border-right: 0; }
    .mealContentF .mealColumn:first-of-type .mealHeading, .mealContentS .mealColumn:first-of-type .mealHeading {
      border-top: 0 !important; }
    .mealContentF .mealColumn .mealHeading, .mealContentS .mealColumn .mealHeading {
      padding: 30px;
      border-top: 1px solid #E0EAEF; }

  .detoxMenu .mealContentF .mealColumn, .detoxMenu .mealContentS .mealColumn {
    width: 100%;
    border-right: 0; }

  .detoxProgram .exampleMeal .mainContent .smallColumn:first-of-type .colmnHeading {
    border-top: 0; }

  .detoxProgram .exampleMeal .mainContent .smallColumn {
    border-right: 0; } }
@media only screen and (max-width: 375px) {
  .productInfo {
    width: 100% !important; } }
@media only screen and (max-width: 321px) {
  .recommended .buy a {
    padding: 20px 10px; } }

/*# sourceMappingURL=media-queries.css.map */
