@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {
  .followGuidelines .greyBorder .allContent .frstColmnHeading {
    padding-bottom: 58px;
  }
  .detoxMenu .mealContentF .mealColumn {
    .mealColmnContent {
      padding-left: 0;
    }

    &:last-of-type {
      .mealColmnContent {
        padding-left: 30px;
      }
    }
  }
  .detoxMenu .mealContentS .mealColumn {
    &:last-of-type {
      .mealHeading {
        padding-bottom: 6px;
      }
    }
  }
  .recommended {
    .productCard {
      .productPrice {
        span {
          font-size: 14px !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 426px) {
  .frstColmn, .scndColmn {
    width: 100% !important;
  }
  .footer {
    display: block;
  }
  .recommended {
    .col-md-4 {
      .productCard {
        padding: 0 15px 10px;
        background: #FFFFFF;
        box-shadow: 0 11px 144px rgba(86, 102, 109, 0.13);
        border-radius: 10px;

        .productInfo {
          flex-direction: column;

          h4 {
            font-size: 11px;
          }

          .mobMarg {
            margin-bottom: 5px;
          }
        }

        .productBadge {
          margin-bottom: 5px;
        }
      }

      &:nth-of-type(2) .productCard {
        margin-right: 0;
      }

      &:last-of-type .productCard {
        display: none;
      }
    }


    .buy {
      margin-top: 40px;

      h4 {
        font-size: 24px;
        color: #DD4C56;
      }

      a {
        background: #DD4C56;
      }
    }
  }

  .followGuidelines {
    .allContent {

      .frstColmnHeading {
        padding: 30px !important;
      }

      .scndColmnHeading {
        padding: 30px !important;
        border-top: 1px solid #E0EAEF;
      }

      .frstColmnContent, .scndColmnContent {
        padding: 30px !important;
      }
    }
  }
  .followGuidelines {
    .ElmnBlock ul li {
      flex-direction: column;
      align-items: flex-start;

      .dontIcon {
        margin-bottom: 30px;
      }

      span {
        margin-bottom: 30px;
      }
    }
  }
  .detoxProgram .exampleMeal .greyBorder {

    .smallColumn {
      width: 100% !important;

      &:first-of-type {
        border-top: 0;
      }
    }
  }
  .detoxProgram .exampleMeal .mainContent .smallColumn .colmnHeading {
    border-top: 1px solid #E0EAEF;
    padding: 20px !important;
  }

  .mealContentF, .mealContentS {
    .mealColumn {
      border-right: 0;

      &:first-of-type {
        .mealHeading {
          border-top: 0 !important;
        }
      }

      .mealHeading {
        padding: 30px;
        border-top: 1px solid #E0EAEF;
      }
    }
  }
  .detoxMenu .mealContentF .mealColumn, .detoxMenu .mealContentS .mealColumn {
    width: 100%;
    border-right: 0;
  }
  .detoxProgram .exampleMeal .mainContent .smallColumn {
    &:first-of-type {
      .colmnHeading {
        border-top: 0;
      }
    }
  }
  .detoxProgram .exampleMeal .mainContent .smallColumn {
    border-right: 0;
  }
}


@media only screen and (max-width: 375px) {
  .productInfo {
    width: 100% !important;
  }
}

@media only screen and (max-width: 360px) {

}

@media only screen and (max-width: 321px) {
  .recommended {
    .buy {
      a {
        padding: 20px 10px;
      }
    }
  }
}